apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .Name }}
  annotations:
{{- if .ServerSnippet }}
    nginx.ingress.kubernetes.io/server-snippet: |
{{ .ServerSnippet | indent 6 }}
{{- end }}
{{- if .ConfigurationSnippet }}
    nginx.ingress.kubernetes.io/configuration-snippet: |
{{ .ConfigurationSnippet | indent 6 }}
{{- end }}
spec:
  ingressClassName: nginx
  rules:
  - host: {{ .Host }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: snippet-test-backend
            port:
              number: 80